<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>名医馆</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui@2.13.0/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div id="app">
        <el-container>
            <el-header>
                <el-row :gutter="20">
                    <el-col :span="4">
                        <div style="float:left;">
                            <el-button type="text" @click="reload('index.html')">
                                <span>
                                    <img src="img/sxd.jpg" width="38" height="38"> </span>
                            </el-button>
                        </div>
                    </el-col>
                    <el-col :span="13">
                        <div style="font-size:24px;">
                            名医馆
                        </div>
                    </el-col>
                    <el-col :span="5">
                        <el-input v-model="search" placeholder="输入关键字搜索" />
                    </el-col>
                    <el-col :span="1" style="margin-left:-25px;">
                        <el-button icon="el-icon-search" circle></el-button>
                    </el-col>
                    <el-col :span="1" style="float:right;">
                        <div class="grid-content bg-purple" v-if="islogin">
                            <el-dropdown>
                                <el-avatar :size="60" src="img/user.png">
                                    <img src="https://cube.elemecdn.com/e/fd/0fc7d20532fdaf769a25683617711png.png" />
                                </el-avatar>
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item>{{user.name}}</el-dropdown-item>
                                    <el-dropdown-item>
                                        <el-button type="text" @click="reload('user.html')"><span><i
                                                    class="el-icon-suitcase"></i>用户中心</span></el-button>
                                    </el-dropdown-item>
                                    <el-dropdown-item>
                                        <el-button type="text" @click="out()"><span><i
                                                    class="el-icon-back"></i>登出</span></el-button>
                                    </el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </div>
                        <div v-else>
                            <el-button type="text" @click="centerDialogVisible = true"><i
                                    class="el-icon-user-solid"></i> {{isLoginCheck}} </el-button>


                            <el-dialog title="登录" :visible.sync="centerDialogVisible" width="30%" center>

                                <el-form :model="loginForm" status-icon :rules="rules" ref="loginForm"
                                    label-width="100px" class="demo-loginForm">

                                    <el-form-item label="账号" prop="id">
                                        <el-input type="text" v-model="loginForm.id" autocomplete="off"></el-input>
                                    </el-form-item>
                                    <el-form-item label="密码" prop="pass">
                                        <el-input type="password" v-model="loginForm.pass" autocomplete="off">
                                        </el-input>
                                    </el-form-item>



                                    <el-form-item>
                                        <el-button type="primary" @click="submitForm('loginForm')">登录</el-button>
                                        <el-button @click="resetForm('loginForm')">重置</el-button>

                                        <span style="margin:16px 54px;font-size: 16px;"><a href="#">忘记密码?</a> | <a
                                                href="#">注册账号</a></span>
                                    </el-form-item>
                                </el-form>

                            </el-dialog>
                        </div>
                    </el-col>
                </el-row>

            </el-header>
            <el-container>

                <el-container>
                    <el-main>
                        <el-row>
                            <el-col :span="2">
                                .
                            </el-col>
                            <el-col :span="20">
                                <div class="mst"  v-for="a in articles" v-if="a.state==1&&a.sortid==1" @click="mst(a)">
                                    <el-row>
                                        <el-col :span="24">
                                            <el-card>
                                                <el-row>
                                                    <el-col :span="6">
                                                        <img src="img/lb.png" height="120">
                                                    </el-col>
                                                    <el-col :span="18">
                                                        <div style="text-align:left;">
                                                            <el-tag>名医馆</el-tag>
                                                             {{a.title}}
                                                        </div>
                                                        <div style="margin-top:48px;font-size:22px;">
                                                            <el-row>
                                                                <el-col :span="4" style="color: #555555;">
                                                                   {{a.source}}
                                                                </el-col>
                                                                <el-col :span="14">
                                                                    &nbsp;
                                                                </el-col>
                                                                <el-col :span="6" style="color: #555555;">
                                                                   {{a.publishtime}}
                                                                </el-col>
                                                            </el-row>
                                                        </div>
                                                    </el-col>
                                                </el-row>
                                            </el-card>
                                        </el-col>
                                    </el-row>
                                </div>
                                <div style="margin: 20px">
                                    <el-row :gutter="20">
                                        <el-col :span="4">
                                            <div class="grid-content bg-purple">&nbsp;</div>
                                        </el-col>
                                        <el-col :span="16" style="text-align:center;">
                                            <el-pagination @current-change="handleCurrentChange"
                                                :current-page.sync="currentPage" background layout="prev, pager, next"
                                                :page-size="20" :total="pages">
                                            </el-pagination>
                                        </el-col>
                                        <el-col :span="4">
                                            <div class="grid-content bg-purple">&nbsp;</div>
                                        </el-col>
                                    </el-row>
        
                                </div>
                            </el-col>
                            <el-col :span="2">
                                .
                            </el-col>
                        </el-row>

                    </el-main>
                    <el-footer style="margin-top:80px;">
                        Copyright © 2020 Tencent. All Rights Reserved.
                        <br>
                        XXXX有限公司 版权所有
                    </el-footer>
                </el-container>
            </el-container>
        </el-container>
    </div>
</body>
<script src="js/index.js"></script>
<script src="js/mst.js"></script>
</html>