@import url("https://unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css");

.el-carousel__item h3 {
    color: #475669;
    font-size: 18px;
    opacity: 0.75;
    line-height: 300px;
    margin: 0;
}

.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
}

.el-header {
    background-color: rgb(24, 22, 22);
    color: rgb(250, 246, 246);
    text-align: center;
    line-height: 60px;
}

.el-footer {
    background-color: #444444;
    color: #eeeeee;
    text-align: center;
    padding: 80px 40px;
}

.el-aside {
    background-color: rgb(143, 171, 202);
    color: #333;
    text-align: center;
    line-height: 200px;
}

.el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
}

body>.el-container {
    margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
    line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
    line-height: 320px;
}

.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 150px;
    margin: 0;
}

.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
}

.cou:hover {
    background: #03439c;
}
.list div{
    margin-top: 8px;
    text-align: left;
    font-size: 17px;
}
.list a {
    text-decoration-line: none;
}
.list a:hover{
    color: aqua;
}
.mst{
    margin-top:20px;
}
.mst:hover{
    box-shadow: #afabab 4px 4px 4px 4px;
}

.info{
    border: #eeeeee dashed 3px;
    width: 1200px;
    height: 600px;
    background: #7356f5;
    margin: auto;
    color: #ffffff;
    padding: 10px 20px;
}