<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui@2.13.1/lib/index.js"></script>
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>人员信息</title>
    <style>
        @import url("https://unpkg.com/element-ui@2.13.1/lib/theme-chalk/index.css");

        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-aside {
            color: #333;
        }

        .el-footer {
            background-color: #444444;
            color: #eeeeee;
            text-align: center;
            padding: 80px 40px;
        }
    </style>
</head>

<body>

    <div id="app">
        <el-container style="height: 1000px; border: 1px solid #eee">
            <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
                <el-menu :default-openeds="['1', '3']">
                    <el-submenu v-for="e in menu" :index="e.index">
                        <template slot="title"><i :class="e.icon"></i>{{e.title}}</template>
                        <el-menu-item-group>
                            <el-menu-item v-for="m in e.menu" :index="m.index">
                                <el-link :underline="false" :href="m.herf">{{m.title}} </el-link>
                            </el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                </el-menu>
            </el-aside>

            <el-container>
                <el-header style="text-align: right; font-size: 12px">
                    <el-dropdown>
                        <i class="el-icon-setting" style="margin-right: 15px"></i>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item><span><i class="el-icon-arrow-right"></i><a href="/index.html">退出</a></span></el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                    <span>Admin</span>
                </el-header>

                <el-main>
                    <el-table style="width: 100%"
                        :data="people.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))">
                        <el-table-column prop="aid" label="账户ID">
                            <template slot-scope="scope">
                                <i class="el-icon-user"></i>
                                <span style="margin-left: 10px;color: #909069;">{{ scope.row.aid }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column prop="name" label="参与者姓名" width="280">
                            <template slot-scope="scope">
                                <i class="el-icon-postcard"></i>
                                <span style="margin-left: 10px;color: #909069;">{{ scope.row.name }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column prop="telphone" label="联系电话" width="280">
                            <template slot-scope="scope">
                                <i class="el-icon-phone-outline"></i>
                                <span style="margin-left: 10px;color: #909069;">{{ scope.row.telphone }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column prop="state" label="状态" width="280" sortable>
                            <template slot-scope="scope">
                                <i class="el-icon-guide"></i>
                                <span style="margin-left: 10px;">
                                    <el-tag v-if="scope.row.state==1" type="success">已参与</el-tag>
                                    <el-tag v-else>未参与</el-tag>
                                </span>
                            </template>
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot="header" slot-scope="scope">
                                <el-input v-model="search" size="mini" placeholder="输入关键字搜索" />
                            </template>
                            <template slot-scope="scope">
                                <el-button size="mini" @click="dealUser(scope.row)">处理 </el-button>
                            </template>
                        </el-table-column>
                    </el-table>


                    <el-dialog title="处理" :visible.sync="dialogVisible" width="30%">
                        <el-form ref="juser" :model="juser" label-width="80px">
                            <el-form-item label="姓名">
                                <el-input v-model="juser.name" disabled></el-input>
                            </el-form-item>
                            <el-form-item label="电话">
                                    <el-input v-model="juser.telphone" disabled></el-input>
                                </el-form-item>
                            <el-form-item label="状态">
                                <el-select v-model="juser.state">
                                    <el-option label="筛选通过" :value="1"></el-option>
                                    <el-option label="审核中" :value="2"></el-option>
                                    <el-option label="满员(不通过)" :value="3"></el-option>
                                    <el-option label="条件不符合" :value="4"></el-option>
                                    <el-option label="其他" :value="-1"></el-option>

                                </el-select>
                            </el-form-item>


                        </el-form>
                        <span slot="footer" class="dialog-footer">
                            <el-button @click="dialogVisible = false">取 消</el-button>
                            <el-button type="primary" @click="peopleAc(juser) = false">确 定</el-button>
                        </span>
                    </el-dialog>
                </el-main>

                <el-footer style="margin-top:80px;">
                    Copyright © 2020 Newmntry. All Rights Reserved.
                    <br>
                    成都少先队 版权所有
                </el-footer>
            </el-container>


        </el-container>
    </div>
</body>
<script src="js/config.js"></script>
<script>
    var ac = JSON.parse(window.localStorage.getItem("_ac"));
    axios.get(host+'/admin/acp/'+ac.id)
        .then(function (response) {
            app.people = response.data;
        })
        .catch(function (error) {
            console.log(error);
        });
</script>
</html>